html, body {
  background-color: #13111B;
  color: #E1E1E6;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-content:center;
  flex-direction: column;
  height: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.button {
  background-color: #41414D;
  padding: 6px;
}

#result {
  display: inline-block;
  width: 128px;
  height: 64px;
  margin: 12px 0 16px;
}

#file {
  display: none;
}
